
/*---------Global Styles---------*/

body {
	font-family: 'Nunito', sans-serif !important;
	color: #545454;
}
p {
	font-size: 18px;
	line-height: 24px;
}

/*---------Header Styles---------*/
.logo-img{
	max-width: 50%;
	display: block;
    margin: 0 auto;
	padding-bottom: 20px;
}
nav ul {
	width: 400px;
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	padding: 0px 0px 30px 0px;
	list-style-type: none;
}
li a {
	color: #545454;
	text-decoration: none;
}
a:hover {
	color:lightslategray;
}

/*---------Main Styles---------*/
img {
	border-radius: 10px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cards img {
	object-fit: fill;
}
.row {
	justify-content: center !important;
}

/*---------About Styles---------*/
h2 {
	font-size: 2rem;
	padding-bottom: 20px;
}
h3 {
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*---------Footer Styles---------*/
footer {
	text-align: center;
	padding: 30px 10px 20px;
}
small {
	font-size: .9rem;
}


@media (max-width: 830px) {
	.logo-img {
		max-width: 80%;
	}
}
